body{
    margin: 0%;
    background-color: aqua;
    width: 100%;
}

h1{
    text-align:center;
    font-family: monospace;
}
p{
    text-align: center;
}
.fuentes{
    text-align: center;
}
a{
    display: block;
    text-decoration: none;
    color:white;
}

.container{
    margin: 20px 20px ;
}
.info{
    background-color: yellow; 
    height: 80px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.dos{
    background-color:blue;
    height: 80px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.tres{
    background-color: brown;
    height: 80px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}


@media(min-width :400px){
    .info{
          font-size: 30px;
    }  
    .tres{
        font-size: 30px;
    }
  
}

.pie{
    text-align: center;
    
}